<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Aytac Kasoglu Weather Forecast</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Weather Forecast</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h2 class="display-3 text-center">About Us</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    </header>

    <!-- Page Features -->
    <div class="row">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, eros vitae consequat auctor, turpis tellus congue ipsum, eget vulputate turpis purus sit amet libero. Fusce sit amet ex ante. Praesent ante orci, facilisis vitae blandit eu, sodales aliquet lacus. Curabitur fringilla non odio sit amet mollis. Vestibulum id mauris at ipsum malesuada ultrices sit amet non elit. Donec quis dui vel nibh auctor egestas. Donec efficitur, magna non placerat pulvinar, metus justo pretium nisi, sit amet convallis tellus nunc eu leo. Donec auctor ex vitae nisl sagittis, et vehicula nisi accumsan. Donec tempus in elit at viverra. <br>
        <br>
        Suspendisse potenti. Morbi eu orci vel elit scelerisque varius. Aenean quis facilisis nibh. Nulla viverra magna dapibus purus semper ornare. Integer ex lacus, fermentum eget hendrerit non, commodo at eros. Ut fringilla convallis dapibus. Phasellus rutrum neque felis. Nam risus ex, euismod vel urna ut, finibus mollis augue. Aenean suscipit ac lorem quis tincidunt. Aenean quam mauris, vulputate eget lectus eget, venenatis volutpat libero. Cras congue vel ligula et tempus. Fusce vitae tellus est.
        <br><br>
        Vivamus nec interdum odio, vel rutrum felis. Sed sit amet mauris ac ante porta lobortis. Donec lobortis, enim non tempus vehicula, purus diam varius odio, vel dapibus nunc libero vel ante. Vivamus volutpat magna felis, vel maximus dolor tincidunt nec. Proin consequat est in nunc porta, ut mattis libero gravida. Suspendisse facilisis pharetra odio quis vestibulum. Aliquam eu leo lobortis, tempus ex vel, volutpat velit.
        <br><br>
        Pellentesque pharetra ipsum nisl, sit amet placerat elit feugiat mattis. Morbi gravida rutrum erat vitae bibendum. Vestibulum quis pulvinar ante. Mauris condimentum scelerisque nisl nec porta. Nunc eget bibendum magna. Nam pharetra sit amet mauris et dictum. Vivamus porta nisi at aliquet faucibus. Aliquam posuere lacinia velit, vel tempor tellus porttitor ut. Proin commodo, magna sed gravida ullamcorper, ex ante varius mi, et gravida libero nibh ac sem. Ut a vehicula ante, quis fringilla tellus. In blandit sapien at accumsan iaculis. Duis venenatis, tortor in egestas auctor, nisl lectus ornare lacus, eu ornare mi lectus placerat velit. Proin hendrerit pretium urna molestie commodo. Mauris in malesuada nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        <br><br>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {{>footer}}
