  {{>header}}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">{{ title }}</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://tripmasters-pictures.s3.amazonaws.com/images/packages1/slovenia/maribor-pohorje-500.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title" id="maribor_name"></h4>
            <h6 class="card-subtitle mb-2 text-muted" id="mar_desc"></h6>
            <p class="card-text lead text-cente float-left" id="maribor_forecast">
          </div>
          <div class="card-footer">
            <a href="/maribor" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img-s1.onedio.com/id-543d836affd1b2db61f5281e/rev-0/w-500/s-5bc072354a7cb724b95ae10e5df72f86192d455f.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title" id="istanbul_name"></h4>
            <h6 class="card-subtitle mb-2 text-muted" id="ist_desc"></h6>
            <p class="card-text lead text-center" id="istanbul_forecast"></p>
          </div>
          <div class="card-footer">
            <a href="/istanbul" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://waset.org/i/500/static/images/cities/helsinki.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title" id="helsinki_name"></h4>
            <h6 class="card-subtitle mb-2 text-muted" id="hls_desc"></h6>
            <p class="card-text lead text-center" id="helsinki_forecast"></p>
          </div>
          <div class="card-footer">
            <a href="/helsinki" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.diamondbeach.co.uk/wp-content/uploads/2019/02/DUBAI-BLOG-500x500.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title" id="dubai_name"></h4>
            <h6 class="card-subtitle mb-2 text-muted" id="dbi_desc"></h6>
            <p class="card-text lead text-center" id="dubai_forecast"></p>
          </div>
          <div class="card-footer">
            <a href="/dubai" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {{>footer}}
