{{>header}}

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="height: 700px;">
      <h3 class="display-3">Maribor, Slovenia</h3>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <!-- Page Features -->
    <div class="row mt-5 pt-5 ">

        <div class="col-lg-2 col-md-5 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="https://tripmasters-pictures.s3.amazonaws.com/images/packages1/slovenia/maribor-pohorje-500.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">{{WeatherDesc}}</h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-5 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://tripmasters-pictures.s3.amazonaws.com/images/packages1/slovenia/maribor-pohorje-500.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Maribor</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>

        <div class="col-lg-2 col-md-5 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="https://img-s1.onedio.com/id-543d836affd1b2db61f5281e/rev-0/w-500/s-5bc072354a7cb724b95ae10e5df72f86192d455f.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">İstanbul</h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-2 col-md-5 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="https://www.studentuniverse.co.uk/blog/wp-content/uploads/2014/12/london.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">London</h4>
              <p class="card-text"></p>
            </div>           
          </div>
        </div>
  
        <div class="col-lg-2 col-md-5 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="https://www.diamondbeach.co.uk/wp-content/uploads/2019/02/DUBAI-BLOG-500x500.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Dubai</h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-5 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://www.diamondbeach.co.uk/wp-content/uploads/2019/02/DUBAI-BLOG-500x500.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Dubai</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>

          
  
      </div>
      <!-- /.row -->
    </header>

    

  </div>
  <!-- /.container -->

    {{>footer}}

